<div class="container-fluid form-horizontal">
  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      <b>Task Definition source</b>
      <help-field key="ecs.taskDefinition"></help-field>
    </div>
    <div class="col-md-2 radio">
      <label>
        <input
          type="radio"
          ng-model="$ctrl.command.taskDefinitionFromArtifact"
          ng-value="false"
          id="taskDefinitionInputs"
        />
        Inputs
      </label>
    </div>
    <div class="col-md-1 radio">
      <!--TODO: deactivate if !expectedArtifacts-->
      <label>
        <input
          type="radio"
          ng-model="$ctrl.command.taskDefinitionFromArtifact"
          ng-value="true"
          id="taskDefinitionArtifact"
        />
        Artifact
      </label>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.command.taskDefinitionFromArtifact">
    <div class="col-md-4 sm-label-right">
      <b>Task Definition Artifact</b>
      <help-field key="ecs.taskDefinition"></help-field>
    </div>

    <p>{{ $ctrl.command.backingData.artifacts }}</p>
    <!--TODO: remove-->
    <div class="col-md-7">
      <ui-select ng-model="$ctrl.command.selectedTaskDefArtifact" class="form-control input-sm">
        <ui-select-match>{{ $select.selected.displayName }}</ui-select-match>
        <ui-select-choices repeat="artifact in $ctrl.command.backingData.artifacts | filter: $select.search">
          <span ng-bind-html="artifact.displayName"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <!-- <div>
        <p>View state: </p>
      <p>{{ $ctrl.command.onExpectedArtifactSelected }}</p>
      <p>{{ $ctrl.command.viewState.onArtifactEdited }}</p>
    </div>
    <div>
        <stage-artifact-selector-react 
          pipeline="$ctrl.command.viewState.pipeline"
          stage="$ctrl.command.viewState.currentStage"
          expectedArtifactId="none"
          artifact="$ctrl.command.taskDefinitionArtifact"
          onExpectedArtifactSelected="$ctrl.command.onExpectedArtifactSelected()"
          onArtifactEdited="$ctrl.command.viewState.onArtifactEdited"
          excludedArtifactIds=""
          excludedArtifactTypePatterns=""
          renderLabel="">
        </stage-artifact-selector-react>
    </div> -->
  </div>
</div>
