<div class="container-fluid form-horizontal">
  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      <b>Task Definition source</b>
      <help-field key="ecs.taskDefinition"></help-field>
    </div>
    <div class="col-md-2 radio">
      <label>
        <input
          type="radio"
          ng-model="$ctrl.command.taskDefinitionFromArtifact"
          ng-value="false"
          id="taskDefinitionInputs"
        />
        Inputs
      </label>
    </div>
    <div class="col-md-1 radio">
      <label>
        <input
          type="radio"
          ng-model="$ctrl.command.taskDefinitionFromArtifact"
          ng-value="true"
          id="taskDefinitionArtifact"
        />
        Artifact
      </label>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.command.taskDefinitionFromArtifact">
    <div class="col-md-4 sm-label-right">
      <b>Task Definition Artifact</b>
      <help-field key="ecs.taskDefinition"></help-field>
    </div>

    <div class="col-md-6"></div>
    <div>
      <p>{{ $ctrl.command.viewState.pipelineArtifacts[0] }}</p>
    </div>
  </div>
</div>
