<div class="container-fluid form-horizontal">
  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      <b>Task Definition source</b>
      <help-field key="ecs.taskDefinition"></help-field>
    </div>
    <div class="col-md-2 radio">
      <label>
        <input
          type="radio"
          ng-model="$ctrl.command.useTaskDefinitionArtifact"
          ng-value="false"
          id="taskDefinitionInputs"
        />
        Inputs
      </label>
    </div>
    <div class="col-md-1 radio">
      <!--TODO: deactivate if !expectedArtifacts-->
      <label>
        <input
          type="radio"
          ng-model="$ctrl.command.useTaskDefinitionArtifact"
          ng-value="true"
          id="taskDefinitionArtifact"
        />
        Artifact
      </label>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.command.useTaskDefinitionArtifact">
    <div class="col-md-4 sm-label-right">
      <b>Task Definition Artifact</b>
      <help-field key="ecs.taskDefinition"></help-field>
    </div>

    <!-- <task-definition-react command="command" notify-angular="notifyAngular"></task-definition-react> -->

    <!-- <div class="col-md-7">
      <ui-select ng-model="$ctrl.command.taskDefinitionArtifact.artifact" class="form-control input-sm">
        <ui-select-match placeholder="Select the task definition artifact...">{{
          $select.selected.displayName
        }}</ui-select-match>
        <ui-select-choices repeat="artifact in $ctrl.command.backingData.artifacts | filter: $select.search">
          <span ng-bind-html="artifact.displayName"></span>
        </ui-select-choices>
      </ui-select>
    </div> -->
  </div>
</div>
